*{
    color: rgb(20, 20, 20);
}
html{
    /* background-image:url(/4.dia-tributo/bgimage.jpg) ; */
    background-color: rgb(238, 247, 238);
}
.personajes{
    display: flex;
    flex-direction: column;

}

.personaje{
    display: flex;
    align-items: center;
}
.impar{
    flex-direction: row;
   
}
.par{
    flex-direction: row-reverse;
}

h2{
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
}
div{
    margin-top: 1rem;
}
p{
    font-family: sans-serif;
    font-size: medium; 
    margin: 1rem;
    justify-content: space-around;
    padding: auto;
}/* 
p:hover{
/*     font-family: "Sofia", sans-serif; 
 }
 */
img{
    opacity: 0.5;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
}
img:hover{
    opacity: 1.0;
}
.sinapsis{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.sinap{
    width: 80%;
    display: flex;
    flex-direction: row;
/*     justify-content: center;
 */    align-content: center;
}
